@font-face{
	font-family: Ubuntu-Regular;
	src:url(../fuente/Ubuntu/Ubuntu-Regular.ttf);
}


body{
	background-image: url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.contenedor{
	margin:auto;
	max-width: 1368px;
	max-height: 768px;
	width: 90%;
	height: 90%;
	

}
/*LOGIN*/
.contenedor #formIndex{
	color:white;
	display:block;
	background: rgba(0, 0, 0, 0.6);
	margin:auto;
	width: 300px;
	padding: 75px;
	margin-top:150px;
	border-radius: 15px;
	font-family: Ubuntu-Regular;
	font-size: 15px;
}


.contenedor #formIndex label{
	display: inline-block;
	width: 80px;
	margin-top: 5px;
}

.contenedor #formIndex #reg{
	display: block;
	text-align: center;
}	
.contenedor #formIndex #reg a{
	display: block;
	text-align: center;
}
/*REGISTRO*/
.contenedor #formRegistro{
	display:block;
	background: rgba(0, 0, 0, 0.6);
	color:white;
	margin:auto;
	width: 500px;
	padding: 80px;
	margin-top:150px;
	border-radius: 15px;
	font-family: Ubuntu-Regular;
}
.contenedor #formRegistro label{
	display: inline-block;
	width: 110px;
	margin-top: 5px;
}
.contenedor #formRegistro #reg{
	display: block;
	text-align: center;
}
.contenedor #formRegistro #reg a{
	display: block;
	text-align: center;
}

.contenedorGeneral {
    margin: auto;
    max-width: 100%;
    width: 1100px;
    height: 1200px;
}

.contenedorGeneral #Menu{
	float: left;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
}
.contenedorGeneral #Menu #b1{
	display: block;
	color:#0489B1;
}

/*.contenedorGeneral #Menu a{
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 15px;
	margin-top: 2px;*/

.contenedorGeneral #Menu a{
	margin-top: 15px;
	display: block;
	line-height: 3;
	padding:0 2em;
	color:white;
	text-decoration: none;
	box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 1);

}
.contenedorGeneral #Menu a:hover{
	display: block;
	box-shadow:0px 3px 0px 0px rgba(102, 51, 153, 1);
	background-color: white;
	color:black;
	transition: 0.4s ease;
}
.contenedorGeneral .eliminar{
	
	text-align: center;
	margin-left: 90px;
	margin-top: 15px;
	text-decoration: none;
	display: inline-block;
	width: 90px;
	height: 30px;
	border:1px solid #f2f2f2;
	border-radius: 5px;
	color: #f2f2f2;
	background-color: rgba(255,255,255,0);
	transition:background 0.5s,color 0.5s;
	font-family: Ubuntu-Regular;
}
.contenedorGeneral .eliminar:hover{
	
	background:#f2f2f2;
	color:#0489B1;
}
	

.contenedorGeneral #publicaciones{
	display: block;
    width: 60%;
    height: 90%;
    max-width: 1320px;
    margin: auto;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.6);
    color: white;

}
#post{
	padding: 5px;
	border: 1px solid black;
	font-family: Ubuntu-Regular;
}
#publicacion1{
	display: block;
	margin:auto;
	text-align: center;
	margin-left: 40px;
}
#publicacion1 #publicar{
	margin-top: 15px;
	float:right;
	margin-right: 70px;
	display: inline-block;
	width: 90px;
	height: 30px;
	border:2px solid #f2f2f2;
	color: #f2f2f2;
	background-color: rgba(255,255,255,0);
	transition:background 0.5s,color 0.5s;
	font-family: Ubuntu-Regular;
}
#publicacion1 #publicar:hover{
	
	background:#f2f2f2;
	color:#0489B1;

}

/*MANTENEDOR*/
h2{
	text-align: center;
	font-family: Ubuntu-Regular;
	color:white;
}
.mantenedor{
	margin: auto;
    width: 1100px;
    
    height: 1200px;
}
#contenedor{
	width: 300px;
	color:white;
	background: rgba(0, 0, 0, 0.6);
	margin:auto;
	padding: 60px;
	border-radius: 15px;
	font-family: Ubuntu-Regular;
}
#contenedor label{
	display:inline-block;
	margin-top: 5px;
	width: 100px;

}

#info{
	display: inline-block;
}

table{
	background: rgba(0, 0, 0, 0.6);
	color: white;
	margin:auto;
	width: 90%;
	border-collapse: collapse;
	margin-top: 15px;
	font-family: Ubuntu-Regular;
}
th{
	color:white;
	border: 1px solid ;
    text-align: center;
    padding: 8px;

}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

.seccionBotones{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.seccionBotones  a{
	margin-top: 15px;
	display: block;
	line-height: 3;
	padding:0 2em;
	color:white;
	text-decoration: none;
	box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 1);
	}
.seccionBotones a:hover{
	display: block;
	box-shadow:0px 3px 0px 0px rgba(102, 51, 153, 1);
	background-color: white;
	color:black;
	transition: 0.4s ease;
}	


input{
	border-radius: 5px;
	border:0px;
	height: 20px;
}
.boton{
	margin-bottom: 5px;
	display: inline-block;
	width: 130px;
	height: 30px;
	border:2px solid #f2f2f2;
	color: #f2f2f2;
	background-color: rgba(255,255,255,0);
	transition:background 0.5s,color 0.5s;
	font-family: Ubuntu-Regular;
}

.boton:hover{
	
	background:#f2f2f2;
	color:#0489B1;

}
span{
	color: #0489B1;
}

#reg #login{

	margin:auto;
	text-decoration: none;
	display: inline-block;
	width: 90px;
	height: 30px;
	border:2px solid #f2f2f2;
	border-radius: 5px;
	color: #f2f2f2;
	background-color: rgba(255,255,255,0);
	transition:background 0.5s,color 0.5s;
	font-family: Ubuntu-Regular;
}
#reg #login:hover{
	
	background:#f2f2f2;
	color:#0489B1;
}

.contenedor a{
	color:white;
	transition: 0.5s ease;
	font-size: 1.2em;
	margin:10px;
}
.contenedor a:hover{
	color:yellow;
	transition: 0.5s ease;
	
}
.posteo
{
    overflow: auto;
    height: 600px;
}
.colorW{
	color: white;
}